
<section class="project">

<h1>{{project.name}}</h1>

<p>{{project.description}}</p>

{{!-- <a href={{imageUrl}}></a> --}}
<img src={{project.imageUrl}}>

<a href={{project.url}}>Go to project</a>

</section>